<!-- CTA -->
<section id="cta">

    <header>
        <h2>Would you like more <strong>Information</strong>?</h2>
        <p>Feel free to join our mailing list or email us</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><input class="button special add_email" type="email" name="email" placeholder="add@my.email"></li>
            <li><a href="mailto:{{ site.email }}" class="button"target="_blank"><i class="fa fa-envelope-o"></i> ivcf at rit.edu</a></li>
        </ul>
    </footer>

</section>