<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/{{ site.twitter }}" class="icon circle fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon circle fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.youtube.com/user/{{ site.youtube }}" class="icon circle fa-youtube-play" target="_blank"><span class="label">Youtube</span></a></li>
        <li><a href="https://github.com/{{ site.github }}" class="icon circle fa-github" target="_blank"><span class="label">Github</span></a></li>
    </ul>
    
    <span class="copyright">&copy; {{ site.copyright }}</span>

</footer>