<section id="large_group" class="wrapper style4 container">

    <!-- Content -->
        <div class="content">
            <section>
                <a href="#large_group" class="image feature"><img src="{{ site.baseurl }}/images/largegroup.jpg" alt="" /></a>
                <header>
                    <h3>We fellowship at <strong>Large Group</strong></h3>
                </header>
                <p>The whole chapter gathers for worship and to listen to a talk relevant to our lives. If you want to become part of our community, you should definitely come to large group! After the main event, we always have special after events which range from movie nights to rock climbing at the red barn. Come for a great night of fellowship!</p>
                <p>
                    Open to everyone<br/>
                    Gosnell 1250<br/>
                    Every Friday<br/>
                    7:30 PM<br/>
                </p>
            </section>
        </div>

</section>