<section id="localchurches" class="wrapper style3 container special">

    <header class="major">
        <h2>We go to <strong>Local Churches</strong> on Sundays</h2>
    </header>   
    {% for post in site.data.localchurches %}
    {%capture check %}{% cycle '</div>', '' %} {% endcapture %}
    {% cycle '<div class="row">', '' %}
        <div class="6u">
            <section>
                <header>
                    {% if post.website %}
                      <a href="{{ post.website }}" target="_blank">
                    {% endif %}
                    <h3><strong>{{ post.churchname }}</strong></h3>
                    {% if post.website %}
                      </a>
                    {% endif %}
                </header>
		<p>
		{% if post.time %}	
                {{ post.time }}<br/>
		{% endif %}
		{% if post.ridespoc_name %}
                Rides Contact: <a href="mailto:{{ post.ridespoc_email }}" target="_blank">{{ post.ridespoc_name }}</a><br/>
		{% endif %} 
                </p>
            </section>
        </div>
    {% cycle '', '</div>' %}
    {% if forloop.last %}
    {{check}}
    {% endif %}
    {% endfor %}    
    <!-- <footer class="major">
        <ul class="buttons">
            <li><a href="#" class="button">See More</a></li>
        </ul>
    </footer> -->

</section>
