<header id="mission" class="special container">
    <span  class="icon fa-book"></span>
    <h2>
        <strong>We are </strong> a vibrant campus ministry that establishes and <br />advances witnessing communities of students and faculty.</h2>
         <p>We minister to students and faculty through small group Bible studies, large gatherings on campus, leadership training, thoughtful discipleship and life-changing conferences and events.</p>
</header>
<section class="wrapper style1 container special">
<div class="row">
    <div class="4u">

        <section >
            <span class="icon feature fa-users"></span>
            <header>
                <h3>Students and Faculty <br/><strong>Transformed</strong></h3>
            </header>
        </section>

    </div>
    <div class="4u">

        <section>
            <span class="icon feature fa-building-o"></span>
            <header>
                <h3>Campuses<br/><strong> Renewed</strong></h3>
            </header>
        </section>

    </div>
    <div class="4u">

        <section>
            <span class="icon feature fa-globe"></span>
            <header>
                <h3><strong>World Changers</strong> <br/>Developed</h3>
            </header>
        </section>

    </div>
</div>
</section>
