<section class="wrapper style2 container special-alt">
    <div class="row half">
        <div class="8u">
        
            <header>
                <h2>Have you heard about <strong>Expedition</strong>?</h2>
            </header>
	<p>Because we believe life, with or without God, can be a very challenging journey, we’ve named our fall conference “<strong>Expedition</strong>.” Join hundreds of other college students from Upstate New York to explore the most rewarding expedition imaginable; following Jesus Christ as Savior and Lord on campus and for the rest of your life.</p>
            <footer>
                <ul class="buttons">
                    <li><a href="https://docs.google.com/forms/d/1lKZrOOyrtlFDJebWivvUa6hR-gSri1lwjshxQSSUfZ4/viewform" class="button">Click here to register</a></li>
                </ul>
            </footer>
        
        </div>
        <div class="4u skel-cell-important">
        
            <ul class="feature-icons">
                <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
                <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
                <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
                <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
                <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
                <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
            </ul>
        
        </div>              
    </div>
</section>
