<section class="wrapper style2 container special-alt">
    <div class="row half">
        <div class="8u">
        
            <header>
                <h2> There is where you would put plugs like <strong>Basileia</strong>.</h2>
            </header>
            <p>Basileia is Greek for “kingdom” — the kingdom of God! We’ve named our summer training “Basileia” because we want to deepen our knowledge of Jesus Christ as King and to improve our capacity to be his ambassadors. Basileia is a week-long, multi-track conference designed so that your whole campus fellowship can attend and benefit. Some tracks emphasize leadership training, and other disicipleship. For all, Basileia is a time for worshiping God, studying Scripture, deepening your vision, and strengthening your faith.

There will be time for your chapter to spend together in the evenings.

It’s a great chance to make friends with fellow Christians from one of the 60 other InterVarsity fellowship in New York and New Jersey.</p>
            <footer>
                <ul class="buttons">
                    <li><a href="#" class="button">Register</a></li>
                </ul>
            </footer>
        
        </div>
        <div class="4u skel-cell-important">
        
            <ul class="feature-icons">
                <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
                <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
                <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
                <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
                <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
                <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
            </ul>
        
        </div>              
    </div>
</section>